@{
    ViewData["Title"] = "Страницата не е намерена";
}

<div class="text-center">
    <h1 class="display-1">404</h1>
    <h2 class="display-4">Страницата не е намерена</h2>
    <p>
        Съжаляваме, но страницата, която търсите, не съществува.
        <a asp-controller="Home" asp-action="Index">Върнете се на началната страница.</a>
    </p>
</div>