@model EventManagementSystem.Models.EventFormViewModel
@{
    ViewData["Title"] = "Изтрий събитие";
}

<div class="card card-glassmorphism">
    <div class="card-body text-center">
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <h3>Наистина ли искате да изтриете това събитие?</h3>
        <hr />
        <h4>@Model.Name</h4>
        <p>Това действие е необратимо!</p>

        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Да, изтрий го!" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Не, откажи</a>
        </form>
    </div>
</div>