@{
    ViewData["Title"] = "Начална страница";
}

<div class="hero-section">
    <div class="hero-content">
        <h1 class="display-3 fw-bold">Намери Твоето Събитие</h1>
        <p class="lead text-secondary mb-5">Открий най-добрите концерти, фестивали и партита близо до теб.</p>

        <div class="search-container">
            <form asp-controller="Event" asp-action="Index" method="get">
                <input required class="search-input" type="text" name="searchTerm" placeholder="Концерт, театър, фестивал...">
                <button type="submit" class="search-btn">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    </div>
</div>

<div class="row text-center mt-5 pt-5">
    <div class="col-md-4 mb-4">
        <div class="card card-glassmorphism h-100">
            <div class="card-body p-4">
                <i class="fa-solid fa-users fs-1 text-primary mb-3"></i>
                <h2 class="h4">За всеки</h2>
                <p class="text-secondary">Независимо дали търсиш концерт, спортно събитие или технологична конференция, тук ще намериш по нещо за всеки вкус.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card card-glassmorphism h-100">
            <div class="card-body p-4">
                <i class="fa-solid fa-cogs fs-1 text-primary mb-3"></i>
                <h2 class="h4">Лесна организация</h2>
                <p class="text-secondary">Ако си организатор, нашата платформа ти дава всички инструменти, за да достигнеш до твоята аудитория лесно и бързо.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card card-glassmorphism h-100">
            <div class="card-body p-4">
                <i class="fa-solid fa-shield-halved fs-1 text-primary mb-3"></i>
                <h2 class="h4">Сигурно и надеждно</h2>
                <p class="text-secondary">С нашата система за управление на потребители и събития, можеш да бъдеш сигурен в качеството и надеждността на услугата.</p>
            </div>
        </div>
    </div>
</div>