<!-- Път: Views/Home/Index.cshtml -->
@{
    ViewData["Title"] = "Начална страница";
}

<div class="text-center">
    <h1 class="display-4">Добре дошли в Event Management System</h1>
    <p class="lead">Вашето място за организиране и намиране на най-добрите събития.</p>
    <hr />
    <p>
        <a asp-controller="Event" asp-action="Index" class="btn btn-primary btn-lg">Разгледай всички събития &raquo;</a>
    </p>
</div>
